Skip to content
Why GitHub? 
Team
Enterprise
Explore 
Marketplace
Pricing 
Search
Sign in
Sign up
RameshMF
/
ReactJS-Spring-Boot-CRUD-Full-Stack-App
Public
200193
Code
Issues
Pull requests
2
Actions
Projects
Wiki
Security
Insights
ReactJS-Spring-Boot-CRUD-Full-Stack-App/react-frontend/src/App.css
@RameshMF
RameshMF ReactJS Spring boot CRUD full stack application
Latest commit b77cd44 on 6 Aug 2020
 History
 1 contributor
48 lines (42 sloc)  706 Bytes
   
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width:100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete